
body {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0 auto;

}
h3 {
    font-size: 5vh;
}
/* Nav */
.mld-logo {
    width: 9vh;
}
.mld-nav-txt{
    font-size: 2.7vh;
}
/* block 1 */
/*titre + bg block 1*/
.mld-pres {
    height:80vh;
    background-image: url(assets/bground.jpg);
    background-size: cover;
    background-position: center center;
}
.mld-pres-txt {
    padding-left: 6vh;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: black;
    text-shadow: 0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(250, 250, 250), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(250, 250, 250), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(250, 250, 250), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255);
}
.mld-pres-txt h1 { font-size: 7vh;}
.mld-pres-txt h4,{
    padding-top: 10vh;

}
.mld-pres-txt h5 {
     padding-top: 60vh
}
/*fin titre + bg block 1*/
/* presentation block 1*/
.mld-card-pres{
    padding: 7vh;
    background-color: #000000;
    text-align: center;

}
.mld-card-pres-title {
    color: white;
}

.mld-card-pres-item{
    display: flex;
    flex-flow: row;
    padding: 5vh;
} 

.mld-card-pres-item h4 {
    font-size: 4vh;
    padding-bottom: 1vh;
}
/*fin block 1*/
/*debut block 2 equipe */
.mld-equipe {
    text-align: center;
}
.mld-equipe-img{
    margin-top: 7vh;
    margin-bottom: 7vh;
    width: 40vh;
    border-radius: 30vh;
}

/*fin block 2 equipe */
/* debut block 3 formations */
.mld-forma {
    padding: 100px 200px 100px 200px;
    background-color: #8b0008;
    text-align: center;
}
.mld-forma-title {
    padding-bottom: 5vh;
    text-shadow: 0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(250, 250, 250), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(250, 250, 250), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(250, 250, 250), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
    0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255);
}
.mld-forma-carou {
  
}
.mld-forma-carou-txt-full h3, .mld-forma-carou-txt-full p{
    color: #000000;
    text-shadow: 0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
  0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
  0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
  0 0 2px rgb(250, 250, 250), 0 0 2px rgb(255, 255, 255),
  0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
  0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
  0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
  0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
  0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
  0 0 2px rgb(250, 250, 250), 0 0 2px rgb(255, 255, 255),
  0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
  0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
  0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
  0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
  0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
  0 0 2px rgb(250, 250, 250), 0 0 2px rgb(255, 255, 255),
  0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
  0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255);
}
/* fin forma*/


/* FIN LANDING PAGE */


/* DEBUT NOS-FORMATIONS*/
.mld-jumbo {
    width: 100%;
    background-image: url(assets/bground-forma.png);
    background-size:cover;
    background-position: center center;
}

.mld-jumbo h1, .mld-jumbo p {
    color: #ffffff;
}
.mld-forma-btn {
    margin: 2vh;
}
.mld-p2-image {
    border-radius: 10vh;
}
.mld-p2-txt {
    font-size: 3vh;
    color: #000000;
}

.mld-rdv-yoda {
    padding:10vh;
    text-align:center
}
.mld-rdv-yoda button{
    margin-top: 5vh
}
/*fin page formation*/
/* debut page inscription*/
.mld-bg-inscrip{
    height: 50vh;
    background-size: cover;
    background-image: url(assets/clan-ninja.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mld-bg-inscrip h1 {
    font-size: 11vh;
    align-items: center;
    color: #000000;
   text-align: center;
}

.mld-contacts-1{
    background-color: black;
    padding: 0 20vw 2vw 20vw;
  }
  .mld-contacts-2{
    background-color: #ffffff;
    padding: 0 20vw 2vw 20vw;
  }
  .mld-contacts-head {
    padding: 0;
    height: 10vw;
    color: #fff;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mld-contacts-head h4 {
    font-size: 2vw;
  }
  .mld-contacts-1 label {
    color: #fff;
  }
  .mld-contacts-bt {
    margin: 3vw auto 3vw auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  textarea {
    resize: none;
  }
  .mld-contacts-2 h3{color: black;}

  /*------------*/
  /* debut footer*/
.mld-footer h3{
    color: #ffffff;
    font-size: 4vh;
    padding-top: 3vh;
}

.mld-footer {
    font-size: 1.5em;
    font-family: 'Lucida Console', Monaco, monospace;
    padding-top: 20px;
    background-color: #000000;
    float: right;
    width: 100%;
    height: 20vh;
    text-align: center;
}
.mld-footer p {
    font-size: 1vh;
}
.mld-footer a {
    color: white;
}



@media (max-width: 768px){ 
    .mld-forma{ 
        padding: 10px 20px 10px 20px}
    .mld-contacts-head h3{ 
        font-size: 30px;
        margin-bottom: 20px;
    }
}